<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logowithbg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logowithbg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mibu"
        tools:targetApi="31">

        <activity
            android:name=".bidan.ui.mainPages.ui.home.catatan.addCatatan.AddCatatanActivity"
            android:exported="false" />
        <activity
            android:name=".user.ui.activity.OnBoardActivity"
            android:exported="false" />
        <activity
            android:name=".bidan.ui.auth.BidanRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".bidan.ui.auth.BidanLoginActivity"
            android:exported="false" />
        <activity
            android:name=".bidan.ui.mainPages.BidanMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.ui.activity.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".user.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".user.auth.LoginActivity"
            android:exported="false" />
    </application>

</manifest>